.transparent-navbar {
  background-color: transparent !important; /* Use !important to ensure this style takes precedence */
  border: none !important; /* Remove any border */
}

nav {
    width: 90%;
    margin: 0 auto;
}

.col-sm {
    margin-top: 15px;
}

p {
    color: #636363;
}

h3 {
    color: black;
}

h5 {
    color: black;
}

.bold {
    font-weight: bold;
}

.card-body {
    /*min-height: 200px;
    max-height: 200px;*/
    width: 100%;
}

.report {
    /*min-height: 600px;
    max-height: 600px;*/
    width: 100%;
}

.card-img-top {
    max-height: 400px;
    min-height: 400px;
}

h4 {
    color: #3b3c3d;
}

h6 {
    color: #91051f;
}

h1 {
    color: #3b3c3d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-check-input:checked + .form-check-label {
    font-weight: bold;
}

input[type="text"] {
    border-top:0;
    border-left: 0;
    border-right: 0;
    outline:0;
    border-color: #b4b4b4;
    background-color: #eeeeee;
    font-size: 20px;
}

.form-control:focus {
    border-color: #c30e2e;
    box-shadow: 0 0 0 0.2rem rgba(249, 249, 249, 0.25);
    background-color: #eeeeee;
}

.btn {
    background-color: #91051f;
    color: #eeeeee;
}

.btn:hover {
    background-color: #e67e86;
}

a {
    text-decoration: none;
}
