nav {
    background-color: #f9f9f9;
    border-radius: 5px;
}

input {
    border-top:0;
    border-left: 0;
    border-right: 0;
    outline:0;
    border-color: #b4b4b4;
    background-color: #f9f9f9;
}

.form-control:focus {
    border-color: #c30e2e;
    box-shadow: 0 0 0 0.2rem rgba(249, 249, 249, 0.25);
    background-color: #f9f9f9;
}

a {
    font-weight: bold;
}

